:root{
	/*PALETA 123723 - Color Hunt*/
	--blanco:#edf0c7;
	--verdeClaro:#4e9525;
	--verdeOscuro:#2e5a1c;
	--naranja:#ff5c00;
	--cafe:#4e3620;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Arvo', serif;
	overflow-x: hidden;
}

#header{
	width:100%;
	position:relative;
}

/*Img Header*/
.imgHeader{
	background: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(0,0,0,0.8);
    background-blend-mode: soft-light;
    position: relative;
    width: 100%;
    height: 100vh;
}
.imgHeader .infoHeader{
	position: absolute;
	top:0;
	left:0%;
	width: 100%;
	height:100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	z-index:100;
}
.imgHeader .infoHeader h1{
	color:var(--blanco);
	font-size: 100px;
	font-weight: normal;
}
.imgHeader .infoHeader hr{
	border:none;
	outline: none;
	height: 2px;
	background: var(--blanco);
	width:40%;
	margin:15px 0;
}
.imgHeader .infoHeader p{
	color:var(--blanco);
	font-size: 45px;
}
.imgHeader .infoHeader .btnDown{
	font-size: 25px;
	color:var(--blanco);
	text-align:center;
	margin-top:30px;
	cursor: pointer;
	padding: 25px;
	border-radius: 100px;
	border:2px solid var(--blanco);
	transition:0.3s;
}
.imgHeader .infoHeader .btnDown:hover{
	margin-top:50px;
}

/*Menú de Navegación*/
.menu{
	width:100%;
	height: 60px;
	position:relative;
	background: var(--cafe);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom:4px solid var(--blanco);
}
.menu .btnMenu{
	display: none;
}
.menu .logo{
	margin-left: 50px;
}
.menu .logo h1 a{
	font-weight: normal;
	font-size: 25px;
	text-decoration: none;
	color:var(--blanco);
}
.menu .contenedorLinks{
	margin-right: 50px;
	transition:0.5s;
}
.menu .contenedorLinks .links{
	display:flex;
	/*position:absolute;*/
}
.menu .contenedorLinks .links li{
	list-style: none;
	font-size: 18px;
}
.menu .contenedorLinks .links li a{
	text-decoration: none;
	padding:5px;
	margin: 0px 10px;
	color:var(--blanco);
	transition: 0.5s;
	cursor: pointer
}
.menu .contenedorLinks .links .productos{
	display: none;
	background:var(--cafe);
	padding-bottom:20px;
}
.menu .contenedorLinks .links li:hover .productos{
	display: block;
	position:absolute;
}
.menu .contenedorLinks .links .productos li{
	padding-top:30px;
}
.menu .contenedorLinks .links li a.activo{
	background: var(--verdeOscuro);
	color:var(--blanco);
}
.menu .contenedorLinks .links li a:hover{
	background: var(--verdeOscuro);
	color:var(--blanco);
}
.pegar{
	 position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}


/*MAIN*/
#main{
	width: 100%;
}

/*Galeria Pasteles*/
.pasteles{
	width:100%;
	padding-top:100px;
	background: var(--verdeOscuro);
}
.pasteles .tituloPasteles{
	padding: 100px 0;
	text-align: center;
	width: 60%;
	margin:auto;
}
.pasteles .tituloPasteles h1{
	font-size: 60px;
	color:var(--blanco);
	font-weight: lighter;
}
.pasteles .contenedorPasteles{
	width:80%;
	margin:auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 350px);
}
.pasteles .contenedorPasteles .imgCardPasteles{
	overflow: hidden;
}
.pasteles .contenedorPasteles .imgCardPasteles img{
	width: 100%;
	height: 100%;
	object-fit:cover;
	cursor: pointer;
	transition: 0.5s
}
.pasteles .contenedorPasteles .imgCardPasteles:hover img{
	transform: scale(1.3);
}

/*Galeria Panes*/
.panes{
	width:100%;
	padding-top:100px;
	background: var(--verdeClaro);
}
.panes .tituloPanes{
	padding: 100px 0;
	text-align: center;
	width: 60%;
	margin:auto;
}
.panes .tituloPanes h1{
	font-size: 60px;
	color:var(--blanco);
	font-weight: lighter;
}
.panes .contenedorPanes{
	width:80%;
	margin:auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 350px);
}
.panes .contenedorPanes .imgCardPanes{
	overflow: hidden;
}
.panes .contenedorPanes .imgCardPanes img{
	width: 100%;
	height: 100%;
	object-fit:cover;
	cursor: pointer;
	transition: 0.5s
}
.panes .contenedorPanes .imgCardPanes:hover img{
	transform: scale(1.3);
}

/*Galeria Postres*/
.postres{
	width:100%;
	padding-top:100px;
	background: var(--verdeOscuro);
}
.postres .tituloPostres{
	padding: 100px 0;
	text-align: center;
	width: 60%;
	margin:auto;
}
.postres .tituloPostres h1{
	font-size: 60px;
	color:var(--blanco);
	font-weight: lighter;
}
.postres .contenedorPostres{
	width:80%;
	margin:auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 350px);
}
.postres .contenedorPostres .imgCardPostres{
	overflow: hidden;
}
.postres .contenedorPostres .imgCardPostres img{
	width: 100%;
	height: 100%;
	object-fit:cover;
	cursor: pointer;
	transition: 0.5s
}
.postres .contenedorPostres .imgCardPostres:hover img{
	transform: scale(1.3);
}


/*ABOUT*/
.about{
	position:relative;
	width: 100%;
	height: 100%;
}
.about .aboutImg{
	background: url(../img/nosotros.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.8);
	background-blend-mode: soft-light;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.about .aboutImg .aboutContenedor{
	width: 70%;
	height: 100%;
	margin:300px 0;
}
.about .aboutImg .aboutContenedor .aboutTitulo{
	margin-bottom: 100px;
}
.about .aboutImg .aboutTitulo h2{
	width: 100%;
	color:var(--blanco);
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	line-height: 50px;
}
.about .aboutImg p{
	width: 100%;
	color:var(--blanco);
	font-size: 22px;
	font-weight: lighter;
	text-align: center;
	line-height: 50px;
}

/*Testimonios*/
.testimonios{
	width:100%;
	padding-top: 100px;
	background: var(--blanco)
}
.testimonios .tituloTestimonios{
	padding: 100px 0;
	text-align: center;
	width: 60%;
	margin:auto;
}
.testimonios .tituloTestimonios h1{
	font-size: 60px;
	font-weight: lighter;
}
.testimonios .contenedorTestimonios{
	width:90%;
	margin: auto;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 150px;
}
.testimonios .contenedorTestimonios .card{
	width:45%;
	margin:20px auto 100px auto;
}
.testimonios .contenedorTestimonios .card .cardImg{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.testimonios .contenedorTestimonios .card .cardImg img{
	width:150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid black;
}
.testimonios .contenedorTestimonios .card .textoCard{
	width:100%;
	border:2px solid var(--verdeOscuro);
	padding:20px;
	border-radius: 20px;
	transition: 200ms;
	margin-top:30px;
}
.testimonios .contenedorTestimonios .card .textoCard h4{
	color: var(--red);
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
	transition: 200ms
}
.testimonios .contenedorTestimonios .card .textoCard p{
	font-size: 19px;
	color:var(--black);
	text-align: center;
	line-height: 30px;
	transition: 200ms
}

/*FOOTER*/
.footer{
	width:100%;
	height: 60px;
	background: var(--cafe);
	display: flex;
	justify-content: center;
	align-items: center; 
}
.footer p{
	font-size: 18px;
	color: var(--blanco);
}

/*HOME*/
.home{
	position:fixed;
	bottom:30px;
	right: 100%;
	width: 50px;
	height: 50px;
	background:var(--blanco);
	border: 3px solid black;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	transition: 0.5s;
	font-size: 25px;
	z-index: 9999;
}
.home:hover{
	background:var(--cafe);
	color:var(--blanco);
	border:3px solid var(--blanco);
}

