/*GALERIA MODAL PASTELES*/
.modalPasteles{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	padding:40px;
	z-index: 9999;
	display:none;
}
.modalPasteles .cierreModalPasteles{
	position:absolute;
	top:20px;
	right: 20px;
	color:var(--blanco);
	cursor:pointer;
	font-size: 30px;
	font-weight: bold;
}
.modalPasteles .captionModalPasteles{
	color:var(--blanco);
	display:flex;
	justify-content: center;
	font-size: 18px;
	margin:20px 0;
}
.modalPasteles #imgModalPasteles{
	width:60%;
	margin:auto;
	display: block;
	height: 600px;
	object-fit: cover;
}
.modalPasteles .listaGaleriaPasteles{
	width: 100%;
	margin-top:30px;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 100px);
}
.listaGaleriaPasteles img{
	width:100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	transition:0.5s;
}
.listaGaleriaPasteles img:hover{
	opacity:0.5;
}

/*GALERIA MODAL PANES*/
.modalPanes{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	padding:40px;
	z-index: 9999;
	display:none;
}
.modalPanes .cierreModalPanes{
	position:absolute;
	top:20px;
	right: 20px;
	color:var(--blanco);
	cursor:pointer;
	font-size: 30px;
	font-weight: bold;
}
.modalPanes .captionModalPanes{
	color:var(--blanco);
	display:flex;
	justify-content: center;
	font-size: 18px;
	margin:20px 0;
}
.modalPanes #imgModalPanes{
	width:60%;
	margin:auto;
	display: block;
	height: 600px;
	object-fit: cover;
}
.modalPanes .listaGaleriaPanes{
	width: 100%;
	margin-top:30px;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 100px);
}
.listaGaleriaPanes img{
	width:100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	transition:0.5s;
}
.listaGaleriaPanes img:hover{
	opacity:0.5;
}

/*GALERIA MODAL POSTRES*/
.modalPostres{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	padding:40px;
	z-index: 9999;
	display:none;
}
.modalPostres .cierreModalPostres{
	position:absolute;
	top:20px;
	right: 20px;
	color:var(--blanco);
	cursor:pointer;
	font-size: 30px;
	font-weight: bold;
}
.modalPostres .captionModalPostres{
	color:var(--blanco);
	display:flex;
	justify-content: center;
	font-size: 18px;
	margin:20px 0;
}
.modalPostres #imgModalPostres{
	width:60%;
	margin:auto;
	display: block;
	height: 600px;
	object-fit: cover;
}
.modalPostres .listaGaleriaPostres{
	width: 100%;
	margin-top:30px;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 100px);
}
.listaGaleriaPostres img{
	width:100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	transition:0.5s;
}
.listaGaleriaPostres img:hover{
	opacity:0.5;
}

/*GALERIA MODAL TAMALES*/
.modalTamales{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	padding:40px;
	z-index: 9999;
	display:none;
}
.modalTamales .cierreModalTamales{
	position:absolute;
	top:20px;
	right: 20px;
	color:var(--blanco);
	cursor:pointer;
	font-size: 30px;
	font-weight: bold;
}
.modalTamales .captionModalTamales{
	color:var(--blanco);
	display:flex;
	justify-content: center;
	font-size: 18px;
	margin:20px 0;
}
.modalTamales #imgModalTamales{
	width:60%;
	margin:auto;
	display: block;
	height: 600px;
	object-fit: cover;
}
.modalTamales .listaGaleriaTamales{
	width: 100%;
	margin-top:30px;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 100px);
}
.listaGaleriaTamales img{
	width:100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	transition:0.5s;
}
.listaGaleriaTamales img:hover{
	opacity:0.5;
}

/*GALERIA MODAL TAMALES*/
.modalGelatinas{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	padding:40px;
	z-index: 9999;
	display:none;
}
.modalGelatinas .cierreModalGelatinas{
	position:absolute;
	top:20px;
	right: 20px;
	color:var(--blanco);
	cursor:pointer;
	font-size: 30px;
	font-weight: bold;
}
.modalGelatinas .captionModalGelatinas{
	color:var(--blanco);
	display:flex;
	justify-content: center;
	font-size: 18px;
	margin:20px 0;
}
.modalGelatinas #imgModalGelatinas{
	width:60%;
	margin:auto;
	display: block;
	height: 600px;
	object-fit: cover;
}
.modalGelatinas .listaGaleriaGelatinas{
	width: 100%;
	margin-top:30px;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 100px);
}
.listaGaleriaGelatinas img{
	width:100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	transition:0.5s;
}
.listaGaleriaGelatinas img:hover{
	opacity:0.5;
}

@media only screen and (max-width: 800px){
	.modalPasteles #imgModalPasteles{
		width: 90%;
		height: 550px;
	}
	.modalPanes #imgModalPanes{
		width: 90%;
		height: 550px;
	}
	.imgHeader .infoHeader h1{
		font-size: 75px;
	}
	.imgHeader .infoHeader hr{
		width: 70%;
	}
	.imgHeader .infoHeader .btnDown{
		font-size: 20px;
		padding: 20px;
	}

	/*ESTILOS PARA EL MENU RESPONSIVO*/
	.menu .btnMenu{
		display:block;
		position:absolute;
		top:5px;
		right: 25px;
		font-size: 35px;
		cursor: pointer;
		color:var(--blanco);
	}
	.menu .btnMenu:hover{
		color:var(--verdeClaro);
	}
	.menu .contenedorLinks{
		position:absolute;
		top:60px;
		left:-100%;
		width: 100%;
		height: calc(50vh - 60px);
		background: var(--cafe);
	}
	.menu .contenedorLinks .links{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.menu .contenedorLinks .links li{
		/*width: 70%;*/
		margin:10px 0;
		padding: 10px 0;
		text-align:center;
	}
	.menu .contenedorLinks .links li a{
		font-size: 25px;
	}
	.menu .logo h1 a{
		font-size: 30px;
	}
	.menu .logo{
		margin-left: 20px;
	}
	.testimonios .contenedorTestimonios{
		display: block;
		width: 100%;
	}
	.testimonios .contenedorTestimonios .card .cardImg img{
		width: 250px;
		height: 250px;
	}
	.testimonios .contenedorTestimonios .card{
		width: 70%;
	}
	.about .aboutImg .aboutTitulo h2{
		font-size: 50px;
	}
}

@media only screen and (max-width: 550px){
	.imgHeader .infoHeader h1{
		font-size: 50px;
	}
	.imgHeader .infoHeader hr{
		width: 85%;
	}
	.imgHeader .infoHeader p{
		font-size: 30px;
	}
	.imgHeader .infoHeader .btnDown{
		font-size: 20px;
		padding: 20px;
	}
	.pasteles .contenedorPasteles{
		display: block;
		padding-bottom:250px;
	}
	.panes .contenedorPanes{
		display: block;
		padding-bottom:250px;

	}
	.pasteles .tituloPasteles{
		width: 100%;
	}
	.panes .tituloPanes{
		width: 100%;
	}
	.testimonios .tituloTestimonios{
		width: 100%;
	}
	.modalPasteles #imgModalPasteles{
		height: 300px;
		margin-top: 150px;
	}
	.modalPanes #imgModalPanes{
		height: 300px;
		margin-top: 150px;
	}
	.footer p{
		font-size: 10px;
	}
	.pasteles .contenedorPasteles .imgCardPasteles:hover img{
		transform:none;
	}
	.panes .contenedorPanes .imgCardPanes:hover img{
	transform:none;
}
}